pip-tools>=1.8.0
praw>=4.0.0
beautifulsoup4>=4.5.1
lxml>=3.6.4             # beautifulsoup
html2text>=2016.9.19
simplejson>=3.10.0
sqlalchemy>=1.1.4
psycopg2>=2.6.2         # sqlalchemy
# requests>=2.12.3        # praw